body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(img/background.jpg);
	background-size: cover;
	color: white;
	font-family: sans-serif;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	
}

.principal {
	height: 100vh;
	width: 120vw;
	background-color: rgba(255, 255, 255, 0.863);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

nav ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#collapsibleNavbar{
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

#collapsibleNavbar a {
	color: blue;
}

#collapsibleNavbar a:hover {
	background-color: blue;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: white;
}

.navbar-toggler-icon {
	background-color: rgb(40, 109, 247);
	border-radius: 50%;
	padding: 20px;
}

.container-fluid {
	justify-content: space-between;
}

.slider {
	width: 100%
}

.slider input {
	display: none;
}

.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	overflow: hidden;

}

.testimonials .item {
	width: 300px;
	padding: 30px;
	border-radius: 5px;
	background-color: #29599c;
	position: absolute;
	border: 3px solid white;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	user-select: none;
	cursor: pointer;
}

.testimonials .item img {
	height: 100%;
	width: 100%;
}

.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dots label {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition-duration: 0.2s;
}

#t-1:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-4"],
#t-5:checked~.dots label[for="t-5"] {
	transform: scale(2);
	background-color: #fff;
	box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked~.dots label[for="t-2"],
#t-2:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-3"],
#t-3:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-4"],
#t-4:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-5"],
#t-5:checked~.dots label[for="t-4"] {
	transform: scale(1.5);
}

#t-1:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-4"],
#t-3:checked~.testimonials label[for="t-5"],
#t-4:checked~.testimonials label[for="t-1"],
#t-5:checked~.testimonials label[for="t-2"] {
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked~.testimonials label[for="t-2"],
#t-2:checked~.testimonials label[for="t-3"],
#t-3:checked~.testimonials label[for="t-4"],
#t-4:checked~.testimonials label[for="t-5"],
#t-5:checked~.testimonials label[for="t-1"] {
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-2:checked~.testimonials label[for="t-1"],
#t-3:checked~.testimonials label[for="t-2"],
#t-4:checked~.testimonials label[for="t-3"],
#t-5:checked~.testimonials label[for="t-4"],
#t-1:checked~.testimonials label[for="t-5"] {
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked~.testimonials label[for="t-1"],
#t-4:checked~.testimonials label[for="t-2"],
#t-5:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-5"],
#t-1:checked~.testimonials label[for="t-4"] {
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);

}

#t-1:checked~.testimonials label[for="t-1"],
#t-2:checked~.testimonials label[for="t-2"],
#t-3:checked~.testimonials label[for="t-3"],
#t-4:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-5"] {

	z-index: 4;
}

@media screen and (min-width:320px) and (max-width:512px) {
	.testimonials {
		perspective: 100px;
		width: 100%;
	}
	.testimonials .item {
		width: 200px;
		height: 100px;
		padding: 10px;
	}
	.testimonials .item h1{
		font-size: 50px;
	}
	nav img{
		width: 200px;
	}
}
@media screen and (min-width:513px) and (max-width:767px) {
	.testimonials {
		perspective: 300px;
	}
	.testimonials .item {
		width: 300px;
		height: 200px;
		padding: 10px;
	}
	.testimonials .item h1{
		font-size: 50px;
	}
}
@media screen and (min-width:768px){
	#collapsibleNavbar{
		border: none;
		background-color: transparent;
	}
}